registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true

# Allow exotic subdeps (required by electron-builder -> @electron/rebuild -> @electron/node-gyp)
block-exotic-subdeps=false

